.header-banner {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: black;
  object-fit: cover;

  img {
    width: 100%;
  }

  .caption-img {
    position: absolute;
    width: 40%;
    top: 45%;
    left: 60%;
  }

  .caption-btn {
    position: absolute;
    top: 70%;
    left: 68%;
  }

  .caption-cup {
    position: absolute;
    top: 60%;
    left: 25%;
    width: 14%;
    transform: rotate(-26deg);
  }

  .btn-cust {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: bold;

    &:hover {
      background-color: rgba(255, 255, 255, 0.13);
      color: rgb(255, 255, 255);
    }
  }

  h3 {
    color: white;
    font-size: 2rem;
  }

  @media screen and (min-width: 700px) {
    h3 {
      font-size: 4rem;
    }

    .btn-cust {
      font-size: 1.5rem;
    }
  }
}
