@import './mixins';
body {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive;
  h2 {
    font-weight: 700;
  }
}


@import './sections/header';

.row {
  padding: 20px 0;
}

// Sections
section {
  margin-top: 20px;
}


@import './sections/welcome';
@import './sections/about-us';
@import './sections/features';
@import './sections/the-shop';

