body {
    margin: 0;
    padding: 0;
}

.row {
    padding: 20px 0;
}

.banner {
    display: block;
    width: 100%;
    background-color: black;
}

.banner-image {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
}

// Sections
.about-us {

    padding: 0;
    img {
        display: block;
        width: 100%;
        height: inherit;
        object-fit: cover;
        padding: 0;
    };

}

    .feature-icon {
        background-color: black;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        img {
            width: 60px;
            height: 60px;
            padding: 10px;
             color: white;
             filter: invert(100%);
         }
    }
